
*.user
DependencyCheck/bin/Debug/DependencyCheck.exe
DependencyCheck/bin/Debug/DependencyCheck.exe.config
DependencyCheck/bin/Debug/DependencyCheck.pdb
DependencyCheck/bin/Debug/DependencyCheck.vshost.exe
DependencyCheck/bin/Debug/DependencyCheck.vshost.exe.config
DependencyCheck/bin/Debug/DependencyCheck.vshost.exe.manifest
DependencyCheck/obj/Debug/DependencyCheck.csproj.FileListAbsolute.txt
DependencyCheck/obj/Debug/DependencyCheck.csprojResolveAssemblyReference.cache
DependencyCheck/obj/Debug/DependencyCheck.exe
DependencyCheck/obj/Debug/DependencyCheck.pdb
DependencyCheck/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PackageBuilder/bin/Debug/PackageBuilder.exe
PackageBuilder/bin/Debug/PackageBuilder.exe.config
PackageBuilder/bin/Debug/PackageBuilder.pdb
PackageBuilder/bin/Debug/PackageBuilder.vshost.exe
PackageBuilder/bin/Debug/PackageBuilder.vshost.exe.config
PackageBuilder/bin/Debug/PackageBuilder.vshost.exe.manifest
PackageBuilder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PackageBuilder/obj/Debug/PackageBuilder.csproj.FileListAbsolute.txt
PackageBuilder/obj/Debug/PackageBuilder.csprojResolveAssemblyReference.cache
PackageBuilder/obj/Debug/PackageBuilder.exe
PackageBuilder/obj/Debug/PackageBuilder.pdb
PackageBuilder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PackageBuilder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PackageBuilder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Upgrader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Upgrader/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Upgrader/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Upgrader/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
